body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgb(1, 121, 75);
}

.titulo {
    margin-top: 20px;
    margin-bottom: 30px;
    background: transparent;
    border: none;
}
.titulo #p1 {
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: bolder;
}
.titulo #p2 {
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.calculadora {
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: none;
}

.form-control{
    border-radius: 2px;
    align-items: center;
    text-align: center;
}
.form-control::placeholder{ 
    color: #6e6e6e;
    font-style: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif; 
    font-size: 16px;
    border: transparent;
}

.btn{
    color: #0a9650;
    border-radius: 5px;
    color:#000000;
    border: transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: .2rem;
    margin-top: 50px;
    margin-bottom: 50px;
}

.ticket{
    margin-top: 10px;
    margin-bottom:40px;
    background-color: rgb(8, 243, 141);
}
.ticket #imc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.ticket h5{
    font-weight: bold;
    text-align: center;
}
.ticket #p1 {
    font-size: 20px;
    font-weight: bold;
}
.ticket #p2 {
    font-size: 30px;
    font-weight: bold;
}